
button{
	width: 100px;
	padding: 10px;
	margin: 5px;
	border: 1px solid black;
}
li:hover{
	color: blue;
	cursor: pointer;
}
button:hover{
	background-color: grey;
	cursor: pointer;

}
body h1{
	text-align: center;
}
.menuBody
{
	margin: 0 auto;
  	position: relative;
  	max-width: 1000px;
}
.menuMenu
{
	margin: 0 auto;
  	position: relative;
  	max-width: 1000px;
	border: 1px solid black;
}
.menuMenu button:focus{
	background-color: grey;
}
.menuPar{
	margin: auto 0;
	margin-top: 20px;
	width: 1000px;
	height: 50px;
}
#createMenu{
	float: right;
	padding:20px;
	cursor: pointer;
	font-size: 20px;
	color: green;
}
#createMenu:hover{
	font-size: 30px;
	color: greenyellow;
}
.menuNav{
	margin-top: 50px;
	border: 1px solid black;
	width: 300px;
	height: 700px;
}
.menuName{
	text-align: center;
	border-bottom: 1px solid black;
	width: 300px;
}
.menuList{
	height: 500px;
	padding-left: 30px;
	font-size: 40px;
}
.menuList a{
	font-size: 30px;
	color: green;
}
.menuList a:hover{
	color: greenyellow;
	cursor: pointer;
}

.table{
	width: 700px;
	margin-top: -702px;
	margin-left: 301px;
	border-top: 1px solid black;
}
.tablePar{
	height: 50px;
	width: 700px;
}
.tablePar button{
	float: right;
}
.tableMenu
{
	margin-top: 10px;
	width: 500px;
	height: auto;
	margin-left: 100px;
	border: 1px solid black;
}
.tableMenu ul
{
	margin-left: 20px;
}
.tableMenu li
{
	font-size: 40px;
}
.tableMenu h1
{
	text-align: center;
}
.hide
{
	display: none;
}
#primary_nav_wrap
{
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
 {
	 display:block
 }

.box{
	border: 1px solid black;
	padding: 30px;
}

.hello ul{
	list-style: none;
	margin-top: -20px;
	margin-left: -50px;
	display:none;

}
.hello ul a{
	font-size: 14px;
}

.hello:hover > ul
{
	display: block;
}